.button {
  margin: 1% 0;
}

.hero {
  background-image: url("https://i.ytimg.com/vi/zcR1Qn8-iV0/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
