.transaction-list {
  box-sizing: border-box;
  margin: 10px 5%;
  color: rgb(52, 58, 64);

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
    color: rgb(52, 58, 64);
    p {
      margin: 0;
      line-height: 1.3em;
    }
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
