.lemonade-gallery {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 2% 5%;
  border: grey solid 1px;
  border-radius: 10px;
}

.point {
  margin: 0 auto;
  padding: 10px 0 10px 5px;
  &:hover {
    background-color: rgb(242, 185, 190);
  }
}
